/* Minimal global styles */
:root { font-family: 'Poppins', sans-serif; }
body { margin: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#root { min-height: 100vh; }
/* Thin scrollbar for Webkit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* Gray-300 */
  border-radius: 20px;
}

/* Dark mode support if needed */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Gray-600 */
}